html, body{
    margin:0;
    padding: 0;

    font-family: arial, sans-serif;
}

body.type{
    margin: 0 auto;
    width: 50%;
}

h1{
    text-align: center;
}

p{
    margin-bottom: 40px;
    font-size: 12px;
    line-height: 18px;
}

ul{
    text-align: center;
    list-style: none;
    padding: 0;
}


.accueil{
    overflow:hidden;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: space-around;
    height:70vh;
    background-color:lightyellow;
}

.accueil a{
    color:black;
    text-decoration: none;
}

.accueil h1{
 text-align:center;
}

.accueil h2{
  text-align:center;
padding-top:20px;
}

.accueil .carteContainer{
    display:flex;
    justify-content: space-around;
    width:60vw;
    
}

.accueil .carte{
 
    width:10vw;
    margin:0 2vw;
    height:15vw;
}

.accueil .carte1{
    background-color:indianred;
}

.accueil .carte2{
    background-color:skyblue;
}

.accueil .carte3{
    background-color:gainsboro;
}

.accueil .carte4{
    background-color:sandybrown;
}
